* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Verdana;
    font-size: 1.6rem;
}

#navbar {
    display: flex;
    justify-content: space-between;
    background: #218380;
    color: #ffffff;
    padding: 2rem 5rem;
}

#leaderboard {
    cursor: pointer;
}

#card {
    width: 80rem;
    margin: auto;
    margin-top: 10rem;
    padding: 3rem 2rem;
    border: 0.2rem solid gainsboro;
    border-radius: 2.5rem;
}

#welcome {
    display: none;
}

#highscores {
    padding: 3rem;
}

#highscores-list {
    padding-left: 2rem;
}

#highscores-buttons {
    margin-top: 1rem;
}

#all-done {
 display: none;   
}

h1 {
    margin-bottom: 2rem;
}

#welcome p:nth-child(1) {
    margin-bottom: 1rem;
}

#description {
    margin-bottom: 1rem;
}

button {
    padding: 1rem;
    background: #218380;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

#questions {
    display: none;
}

#question {
    margin-bottom: 1rem;
}

#options {
    list-style: none;
    margin-bottom: 1rem;
}

#options li {
    line-height: 2rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 1.2rem;
    background: #218380;
    color: #ffffff;
    cursor: pointer;
}

#result {
    margin: 1rem 0;
}

#correct {
    display: none;
}

#incorrect {
    display: none;
}

#all-done p {
    padding-bottom: 1rem;
}

#initials {
    width: 10rem;
    height: 3rem;
}